@import "../../../variables.scss";

.weather-toolbar {
  &-title {
    align-items: center;

    span {
      margin-left: 5px;
    }

    .mat-icon {
      @media screen and (max-width: $max-mobile) {
        display: none;
      }
    }

    &-container {
      padding: 0;
    }
  }

  .weather-mobile-menu {
    margin-left: auto;
  }
}
